BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

IndentCaseLabels: true
ColumnLimit: 100