BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

AlwaysBreakAfterDefinitionReturnType: None
BreakAfterReturnType: None
BreakFunctionDefinitionParameters: false
BinPackArguments: true
BinPackParameters: BinPack
AllowAllParametersOfDeclarationOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 1000000
IndentCaseLabels: true
ReflowComments: false
SortIncludes: false
ColumnLimit: 1000
