*.tar
*.bz2
*.bzip2
*.o
.vendor-cache/
build/
build/vendor/
mr
mrmac/mrmac
tvision/build/
tvision/build-asan/
tvision/build-debug/
misc/enwik9
/misc/mr_stage_profile_probe
/misc/mr_stage_profile_probe.o
*.o
mr
mrmac/mrmac
HANDOFF*txt
Record Test.mrmac
documentation/keymapping_plan_memac.md
misc/mr.log

